@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    animation: fade 600ms forwards;
    font-family: Helvetica;
    background: rgb(41, 41, 41);
    color:white;
}
.card{
    width: 50%;
    height: 100%;
    background: rgb(29, 29, 29);
    border: 1px;
    border-color: grey;
    box-shadow: 2px 4px 8px rgb(26, 26, 26);
}
.card-body{
    padding:10px;
    text-align: left;
}
.exit{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    font-size: 20px;
}
a{
    color:white;
    text-decoration: none;
}
a:focus{
    color:grey;
}
a:hover{
    color:grey;
}
button{
    padding:10px;
    background: transparent;
    font-weight: 400;
    border-style:solid;
    color:white;
    font-size:14px;
}
.menuitem{
    display: block;
    margin:10px;
    padding:10px;
    background: transparent;
    font-weight: 400;
    border-style:solid;
    color:white;
    font-size:14px;
}
span{
    display: block;
    margin-bottom:10px;
}
input{
    display: block;
    margin-bottom: 10px;
    background: transparent;
    border-style: solid;
    border-color: grey;
    color:white;
    width:50%;
    padding:5px;
    font-size:14px;
}
select{
    display: block;
    margin-bottom: 10px;
    background: transparent;
    border-style: solid;
    border-color: grey;
    color:white;
    width:50%;
    padding:5px;
    font-size:14px;
}
@media (max-width: 800px) {
    .card{
        width: 95%;
        height: 100%;
        background: rgb(29, 29, 29);
        border: 1px;
        border-color: grey;
        box-shadow: 2px 4px 8px rgb(26, 26, 26);
    }
    input{
        width:70%;
    }
}