@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: fade 600ms forwards;
    font-family: helvetica, arial, ubuntu;
    background: rgb(41, 41, 41);
    color: white;
}

.card {
    width: 50%;
    height: 100%;
    background: rgb(29, 29, 29);
    border: 1px;
    border-color: grey;
    box-shadow: 2px 4px 8px rgb(26, 26, 26);
}

.card-body {
    padding: 10px;
    text-align: left;
    height: 100%
}

.exit {
    font-size: 42px;
    font-weight: 700;
    color: #feb8ff;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1;
    font-size: 50px;
    background: rgb(41, 41, 41);
    padding: 0px 10px 0px 10px;
    box-shadow: 2px 4px 8px #00000075;
}

a {
    color: white;
    text-decoration: none;
}

a:focus {
    color: grey;
}

a:hover {
    color: grey;
}

button {
    padding: 10px;
    background: transparent;
    font-weight: 400;
    border-style: solid;
    color: white;
    font-size: 14px;
}

.menuitem {
    display: block;
    margin: 10px;
    padding: 10px;
    background: transparent;
    font-weight: 400;
    border-style: solid;
    color: white;
    font-size: 14px;
}

span {
    display: block;
    margin-bottom: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
    background: transparent;
    border-style: solid;
    border-color: grey;
    color: white;
    width: 50%;
    padding: 5px;
    font-size: 14px;
}

select {
    display: block;
    margin-bottom: 10px;
    background: transparent;
    border-style: solid;
    border-color: grey;
    color: white;
    width: 50%;
    padding: 5px;
    font-size: 14px;
}

@media (max-width: 800px) {
    .card {
        width: 95%;
        height: 100%;
        background: rgb(29, 29, 29);
        border: 1px;
        border-color: grey;
        box-shadow: 2px 4px 8px rgb(26, 26, 26);
    }
    input {
        width: 70%;
    }
}